<!DOCTYPE html>
<html lang="en">
<head>
  <title>Главная старница</title>
  <meta charset="utf-8">
  <!-- видимая пользователю область страницы -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.del-doctor').on('click', function(){
        var id = $(this).data('id');
        var url = '/list_doctors/'+id;
        if(confirm('Delete Doctor?')){
          $.ajax({
            url: url,
            type: 'DELETE',
            success: function(result){
              $(this).closest('tr').fadeOut(700,function(){
                  $(this).closest('tr').remove();
              });
              console.log('Delete doctor');
              window.location.href='';
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      });

      $('.edit-doctor').on('click', function() {
        $('#edit-form-surname').val($(this).data('surname'));
        $('#edit-form-name').val($(this).data('name'));
        $('#edit-form-pathr').val($(this).data('pathr'));
        $('#edit-form-spec').val($(this).data('spec'));
        $('#edit-form-id').val($(this).data('id'));
      })
    });
  </script>
</head>
<body>
  <% include blocks/header.ejs %>
  <div class="jumbotron text-center">
    <h1>Система хранения данных пациентов</h1>
    <p>Здесь вы можите хранить всю информацию о пациенте.</p>
  </div>

  <table class="table table-striped" id="table1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Специальность</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% obj.forEach(function(element, index, array) { %>
        <tr id=<%= index+1 %>>
            <td id="ii" name="ii"><%= index+1 %></td>
            <td id="surname_i" name="surname_n"><%= element.Фамилия %></td>
            <td id="name_i" name="name_n"><%= element.Имя %></td>
            <td id="pathr_i" name="pathr_n"><%= element.Отчетсво %></td>
            <td id="spec_i" name="spec_n"><%= element.Специальность %></td>
            <td>
                <button class="btn btn-warning edit-doctor" data-toggle="modal" data-target="#editFormModal" data-surname="<%= element.Фамилия %>"
                                                                                                              data-pathr="<%= element.Отчетсво %>"
                                                                                                              data-name="<%= element.Имя %>"
                                                                                                              data-spec="<%= element.Специальность %>"
                                                                                                              data-id="<%= element["@Doctor"] %>"
                                                                                                              >
                  Изменить
                </button>
                <button type="button"class="btn btn-danger del-doctor" data-id="<%= element["@Doctor"] %>">Удалить</button>
              </div>
            </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" action="/editDoctor">
          <input type="hidden" id="edit-form-id" name="id" />
          <div class="modal-header">
            <h4 class="modal-title" id="editFormModal">Изменить данные доктора</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="doctor-surname" class="form-control-label">Фамилия:</label>
              <input type="text" class="form-control" id="edit-form-surname" name="surname">
            </div>
            <div class="form-group">
              <label for="doctor-name" class="form-control-label">Имя:</label>
              <input type="text" class="form-control" id="edit-form-name" name="name">
            </div>
            <div class="form-group">
              <label for="doctor-patr" class="form-control-label">Отчетво:</label>
              <input type="text" class="form-control" id="edit-form-pathr" name="pathr">
            </div>
            <div class="form-group">
              <label for="doctor-spec" class="form-control-label">Специальность:</label>
              <input type="text" class="form-control" id="edit-form-spec" name="spec">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
